<h3>Edit <%=@reader.name%></h3>
<form method='post' action='/readers/edit/%<=@reader.slug%>'>
  <input type="hidden" name="_method" value="PATCH">
  name: <input type='text' name='name' value='<%=@reader.name%>'><br>
  username: <input type='text' name='username' value='<%=@reader.username%>'><br>
  Join a new community:<br>
  <%Community.all.each do |community|%>
    <input type='radio' name='community' value='<%=community.name%>'<%='checked' if community.id == @reader.community.id%>><%=community.name%><br>
  <%end%>
  Or create a new community to join:<input type='text' name='new_community'><br><br>
  <input type='submit' value='edit your profile'><br>
</form>
<form method='post' action='/readers/delete/%<=@reader.slug%>'>
  <input type="hidden" name="_method" value="DELETE">
  <input type='submit' value='delete your profile'>
</form>
