<h3><%=@reader.name%></h3>
email: <%=@reader.email%><br>
username: <%=@reader.username%><br>
community: <%=@reader.community.name%><br><br>

<%if @reader.id == session[:id]%>
  <form method='GET' action='/readers/edit/<%=@reader.slug%>'>
    <input type='submit' value='edit my profile'>
  </form>
<%end%>
