<h1><%=@book.name%></h1>
<ul>
  author name: <%=@book.author%><br>
  description: <%=@book.description%><br>
  Community rating: <%=@book.rating.round(3)%><br>
  Owner's comments:<%=@book.comments%><br>
</ul>
To borrow the book, contant its owner, <%=@book.reader.name%>, at <%=@book.reader.email%> <br><br>
Have you read the book? Rate it!<br>
<form method = 'POST' action = '/rate/<%=@book.slug%>'>
  terrible<input type='range' name='rating' min="1" max="5" list="tickmarks" required>amazing<br><br>
  <datalist id="tickmarks">
    <option value="1" label="1">
    <option value="2" label="2">
    <option value="3" label="3">
    <option value="4" label="4">
    <option value="5" label="5">
  </datalist>
  <input type='submit' value='rate it'>
</form>
<%if Reader.find(session[:id]) == @book.reader%>
  <form type='POST' action='/books/edit/<%=@book.slug%>'>
    <input type='submit' value='edit your book'>
  </form>
<%end%>
